body {
    background-color: #333; /* Koyu arka plan rengi */
    color: #ffffff; /* Beyaz yazı rengi */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sources-section {
    margin: 50px auto;
    width: 80%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #ffcc00;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.survey-section {
    margin-top: 30px;
}

h2 {
    font-size: 28px;
}

form {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

label {
    font-size: 18px;
}

input[type="submit"] {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff9900;
}

nav {
    margin-top: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffcc00;
}

nav a:hover {
    text-decoration: underline;
}